name: bezier_chart
description: A beautiful bezier line chart widget for flutter that is highly interactive and configurable.
version: 2.0.0

homepage: https://aeyrium.com/products/mxtracker/
repository: https://github.com/aeyrium/bezier-chart

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
